<!DOCTYPE html>
<html>
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8"/>
    <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
    <title>Account Verification</title>
    <link rel="stylesheet" href="style.css"/>
</head>
<body>
<div class="container">
    <div class="header" align="center">
        <img src="//s3-ap-southeast-1.amazonaws.com/disruptors-static/2go-group-logo.png" class="logo" alt=""/>
    </div>
    <div class="content" align="left">
        <h3>Welcome <%= firstName %><!--  <%= lastName %> -->!</h3>

        <p>
            You have joined Codemagnus as <%= role %>. To complete your registration please
            <a href="//api.phdisruptors.com/verify/<%= verificationToken %>">
                click here to verify your account.
            </a>
        </p>

        <p>If you didn't register for a Codemagnus account, please ignore this email.</p>

        <p>Regards, <br/>

        <p>Codemagnus!</p>
        </p>
    </div>
</div>
</div>
</body>
</html>